*.ipynb_checkpoints
.venv
venv
*__pycache__
*.log
log.txt
database*
*.zip
exports
cspnonce.txt
.pytest_cache
*.ipynb
.env.deploy
snippets.txt
.vscode
.env.deploy
storage
tests/node_modules
*.json
multisite-remix