{% extends "cda/base.html" %}


{% block main %}

<hgroup class="block mt-6">
    <h1 class="title">
        Despre noi
    </h1>
</hgroup>


<div class="content">

    <p>
        Acest website a fost facut cu scopul de a centraliza toate anunturile de inchiriere camera in apartament.
        Acest website este util studentiilor sau persoanelor care vor sa imparta cheltuielile unui apartament.
    </p>

    <p>Fac aplicatii din 2017.
        Daca aveti nevoie de o aplicatie care va poate usura activitatea de zi cu zi
        <a href="https://www.linkedin.com/in/climente-alin/" target="_blank">
            <strong>nu ezitati sa ma contactati!</strong>
        </a>
    </p>

    <h5>Date Juridice</h5>
    <ul>
        <li>CLIMENTE ALIN IONEL PFA</li>
        <li>CIF: 43000098</li>
        <li>Nr. înmatriculare: F22/1029/2020</li>
        <li>EUID: ROONRC.F22/1029/2020</li>
        <li>Sediul: Iasi, Romania</li>
    </ul>


</div>




{% endblock main %}