{% extends "cda/base.html" %}

{% block main %}

<div x-data="create_listing_data">

    <form @submit.prevent="createListing" class="box has-background-light mt-6">

        <h1 class="title is-4 has-text-grey mb-6">Adauga un anunt</h1>

        <div class="grid-12">
            <div class="field">
                <label class="label">Pret(Euro)</label>
                <div class="control">
                    <input x-model="pret" name="pret" class="input is-large" type="number" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Titlu</label>
                <div class="control">
                    <input x-model="titlu" name="titlu" maxlength="75" class="input is-large" type="text" required>
                </div>
            </div>
        </div>

        <div class="grid-12">

            <div class="field">
                <label class="label">Oras</label>
                <div class="control">
                    <input x-model="oras" name="oras" maxlength="25" class="input is-large" type="text" required>
                </div>
            </div>

            <div class="field">
                <label class="label">Zona</label>
                <div class="control">
                    <input x-model="zona" name="zona" maxlength="50" class="input is-large" type="text" required>
                </div>
            </div>

        </div>

        <div class="field mt-4">
            <label class="label">Descriere</label>
            <div class="control">
                <textarea x-model="descriere" name="descriere" class="textarea" maxlength="3000"></textarea>
            </div>
        </div>

        <div class="file mt-4">
            <label class="file-label">
                <input class="file-input" type="file" name="img1"
                    x-on:change="files = Object.values($event.target.files)" accept="image/*" required>
                <span class="file-cta">
                    <span class="file-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            viewBox="0 0 16 16">
                            <path
                                d="M4 0h8a2 2 0 0 1 2 2v8.293l-2.73-2.73a1 1 0 0 0-1.52.127l-1.889 2.644-1.769-1.062a1 1 0 0 0-1.222.15L2 12.292V2a2 2 0 0 1 2-2zm4.002 5.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0z" />
                            <path
                                d="M10.564 8.27 14 11.708V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2v-.293l3.578-3.577 2.56 1.536 2.426-3.395z" />
                        </svg>
                    </span>
                    <span class="file-label"
                        x-text="files ? files.map(file => file.name).join(', ') : 'Incarca o poza a camerei'">
                    </span>
                </span>
            </label>
        </div>

        <div class="field is-grouped mt-6">
            <div class="control">
                <button type="submit" x-bind:class="loading ? 'is-loading' : ''" class="button is-link">Adauga
                    anunt</button>
            </div>
            <div class="control">
                <a x-bind:class="loading ? 'is-loading' : ''" class="button is-link is-light"
                    href="/cda/anunturi">Inapoi</a>
            </div>
        </div>
    </form>

    <div x-bind:class="showUpgradeInfo ? '': 'is-hidden'" class="notification is-danger">
        Doar un anunt postat este gratis.
        Pentru a posta mai multe anunturi poti <a href="#todo"><strong>cumpara mai multe credite de aici</strong></a>.
    </div>

</div>

<style>
    .grid-12 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 1rem;
    }
</style>

{% endblock main %}