{% extends "cda/base.html" %}

{% block main %}

<div x-data="login_data" class="mt-6">

    <form id="login"
        class="small-form box p-6 is-flex is-flex-direction-column is-justify-content-center has-background-light"
        @submit.prevent="login">

        <h1 class="title is-4 has-text-grey mb-6">Intra in cont</h1>

        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input x-model="email" name="email" class="input is-large" type="email" placeholder="dan@gmail.com">
            </div>
            <p x-cloak x-show="invalidcreds" class="help is-danger">Email sau parola incorecte</p>
        </div>

        <div class="field">
            <label class="label">Parola</label>
            <div class="control">
                <input x-model="parola" name="parola" class="input is-large" type="password" placeholder="******">
            </div>
            <p x-cloak x-show="invalidcreds" class="help is-danger">Email sau parola incorecte</p>
        </div>

        <button type="submit" x-bind:class="loading ? 'is-loading' : ''" class="button is-link is-large mt-4">Intra in
            cont</button>

        <a class="mt-4 is-align-self-flex-end" href="/cda/inregistrare">Nu am un cont</a>
    </form>

</div>


{% endblock main %}