{% extends "cda/base.html" %}


{% block main %}

<hgroup class="block mt-6">
    <h1 class="title">Politica de Confidențialitate (GDPR)</h1>
    <h2 class="subtitle">Aici explicăm cum folosim datele dvs. personale împărtășite cu noi.</h2>
</hgroup>

<ul class="block">
    <h4>Ce fel de informații colectăm și cum le folosim?</h4>
    <li>
        Optiunile de stocare in browser (Cookies, localstorage, sessionstorage) nu sunt folosite decat in cazul in care
        v-ati creat un cont.
        Colectăm informațiile oferite la crearea/actualizarea contului (adresă de email, nume etc.).
        Aceste informații le folosim pentru următoarele scopuri:
        <ul>
            <li>Autentificarea pe site și identificarea unui utilizator.</li>
            <li>Oferirea posibilității utilizatorilor autentificați să intre în contact cu alți utilizatori.</li>
            <li>Salvarea datelor considerate relevante de către un utilizator.</li>
            <li>Oferirea de reclame personalizate atunci când utilizatorul folosește acest site.</li>
            <li>Identificarea și eliminarea utilizatorilor cu comportament neconform, abuziv sau fraudulos.</li>
            <li>Realizarea de statistici privind utilizarea site-ului.</li>
        </ul>
    </li>
</ul>
<ul class="block">
    <h4>Cum colectează acest site informații?</h4>
    <li>Acest site colectează datele furnizate de utilizator numai după ce acesta a dat consimțământul explicit.</li>
    <li>Datele colectate sunt stocate în browser (localStorage/sessionStorage/cookies) și în baza noastră de date.</li>
</ul>
<ul class="block">
    <h4>Cum sunt stocate și protejate informațiile?</h4>
    <li>Datele sunt stocate în browser (localStorage/sessionStorage/cookies) și în baza noastră de date.</li>
    <li>Folosim Secure Sockets Layer (SSL/TLS) pentru a securiza datele în tranzit (de la server către client și
        invers).
        Astfel, datele dvs. nu pot fi "citite" de persoane sau entități neautorizate.</li>
    <li>Încercăm să aplicăm cele mai bune practici de securitate pe serverele unde acest site este instalat.
        Totuși, niciun sistem de securitate nu este impenetrabil și nu putem garanta 100% securitatea sistemelor
        noastre.
        Dacă identificăm sau găsim breșe de securitate, vom încerca să le remediem în cel mai scurt timp posibil.</li>
    <li>
        Sfaturi de siguranță pentru dvs.:
        <ul>
            <li>Instalați doar aplicații/extensii de browser din surse sigure.</li>
            <li>Evitați utilizarea zonelor "Free WiFi" în măsura posibilului.</li>
            <li>Folosiți parole sigure, greu de ghicit (preferabil fraze).</li>
        </ul>
    </li>
    <li>
        Nu vindem datele dvs. personale altor terți.
    </li>
</ul>

<p class="block">
    Prin utilizarea și accesarea site-ului nostru, sunteți de acord cu politica noastră de confidențialitate și modul în
    care colectăm și utilizăm datele dvs. personale. Pentru mai multe informații, vă rugăm să consultați și
    <a href="/cda/termeni-si-conditii">Termenii și Condițiile noastre</a>.
</p>


{% endblock main %}