{% extends "cda/base.html" %}


{% block main %}
<hgroup class="block mt-6">
    <h1 class="title">
        Politica privind Cookie-urile
    </h1>
    <h2 class="subtitle">
        Cookie-urile și tehnologiile de stocare web care permit stocarea locală și de sesiune ("cookie-uri") facilitează
        interacțiunea cu site-ul nostru.
    </h2>
</hgroup>
<ul class="block">
    <h4>De ce salvăm anumite date în browserul dvs.?</h4>
    <li>Pentru a asigura o experiență de navigare plăcută și personalizată pe site-ul nostru.</li>
</ul>
<ul class="block">
    <h4>Care sunt metodele prin care stocăm date în browserul dvs.?</h4>
    <li>
        Utilizăm cookie-uri pentru a salva cheia de autentificare în cazul în care ați creat un cont și v-ați logat pe
        site-ul nostru.
        Optiunile de stocare in browser (Cookies, localstorage, sessionstorage) nu sunt folosite decat in cazul in care
        v-ati creat un cont.
    </li>
</ul>
<ul class="block">
    <h4>Cum ștergeți datele salvate în browser de către acest site?</h4>
    <li>Browserele actuale oferă posibilitatea utilizatorilor de a schimba setările cu privire la cookie-uri.
        Aceste opțiuni sunt de obicei disponibile în meniul "Ajutor", "Opțiuni" sau "Preferințe" al browserelor.</li>
    <li>Ștergerea acestor date variază ușor de la browser la browser. Căutați pe internet cum puteți șterge aceste date
        în funcție de browserul pe care îl folosiți.</li>
</ul>
<p>
    Prin continuarea utilizării site-ului nostru, vă exprimați acordul cu privire la utilizarea cookie-urilor și a
    tehnologiilor de stocare web. Pentru mai multe informații și detalii despre modul în care gestionăm datele
    personale, vă rugăm să consultați <a href="/cda/politica-de-confidentialitate">Politica noastră de
        Confidențialitate</a>.
</p>

{% endblock main %}