{% extends "cda/base.html" %}


{% block main %}


<hgroup class="block mt-6">
    <h1 class="title">Termeni și condiții</h1>
    <h2 class="subtitle">Acești termeni și condiții stabilesc regulile pentru utilizarea acestui site.</h2>
</hgroup>

<div class="content">
    <p>
        Prin accesarea și utilizarea acestui site sunteți de acord cu termenii și condițiile de utilizare ale acestui
        site precum si
        <a href="/cda/politica-cookies">politica cookies</a> si
        <a href="/cda/politica-de-confidentialitate">politica de confidentialitate (GDPR)</a>.
        Dacă nu sunteți de acord, vă rugăm să părăsiți acest site.
    </p>

    <p>
        Drepturile de autor asupra codului sursă al acestui site aparțin lui <strong>Alin Climente</strong>.
    </p>

    <p>
        Orice activitate abuzivă pe acest site, care are scopul de a afecta funcționarea normală, nu este permisă.
        De asemenea, orice activitate abuzivă pe acest site, care are scopul de a înșela alți utilizatori, nu este
        permisă.
    </p>

    <p>
        Datele prezentate pe acest site sunt furnizate de către utilizatori.
        Nu ne asumăm responsabilitatea pentru datele eronate de pe acest site.
        Nu putem fi trași la răspundere pentru acțiunile utilizatorilor acestui site.
    </p>

    <p>
        În cazul în care achiziționați servicii de pe site-ul nostru, veți primi termenii și condițiile prin email.
    </p>

    <p>
        ACEST WEBSITE POATE FI FOLOSIT DOAR DE CĂTRE PERSOANELE MAJORE (18+ ANI).
        TREBUIE SĂ AI GRIJĂ CU CINE INTRI ÎN CONTACT, LA FEL CA ȘI PE ORICE ALT SITE UNDE SE POATE FACE ACEST LUCRU.
    </p>

    <p>
        INTEGRUL CONȚINUT AL ACESTUI SITE VĂ ESTE OFERIT "CA ATARE" ȘI POATE FI MODIFICAT ORICÂND FĂRĂ A OFERI NICI O
        GARANȚIE,
        FIE ACEASTA EXPRESĂ SAU IMPLICITĂ.
    </p>

</div>


{% endblock main %}